*.class
*.log
*.DS_Store

# Maven
target/
dependency-reduced-pom.xml

# IntelliJ IDEA
.idea/
*.iml

# Workspace artifacts
workspace/spark-etl-playground-*.jar
workspace/sparkapp/
workspace/data/sparkapp/